

<!-- LOGIN -->
<div class="container text-center">
  <div class="jumbotron">
    <br>
    <h1 class="display-4">Iniciar Sesión</h1>
    <div class="container">
      <br>
      <form action="" method="post">
        <!-- Correo -->
        <label class="form-label">Usuario</label><br>
        <input type="text" id="text" class="form-control" name="usuario" placeholder="Usuario">
        <!-- Contraseña -->
        <label class="form-label">Contraseña</label><br>
        <input type="password" id="password" class="form-control" name="password" placeholder="Contraseña"><br>
        <!-- Boton Login -->
        <input type="submit" id="login" class="btn btn-dark" value="Ingresar">
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
    <!-- Registro -->
    <div class="dropdown-divider"></div>
    <div> Aun no tienes Cuenta? <a href="#" class="text-secondary stretched-link">Registrate! </div> </a>
</div>
