<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
  <!-- BARRA MENU -->
  <nav class="navbar navbar-expand-lg navbar-light bg-warning bd-example">
    <div class="container-fluid">
      <img src="static/images/logorb.png" class="rounded float-start" alt="IMAGE">
      <div class="navbar-collapse" id="barramenu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Comida Mexicana</a>
          </li>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Comidas Internacionales</a>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Gourmet</a>
              </li>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Especialidades</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/nosotros">Nosotros</a>
                </li>
              </ul>
      </div>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/login">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- LOGIN -->
  <section class="form-login">
    <h5>Iniciar Sesión</h5>
    <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
    <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
    <input class="buttons" type="submit" name="" value="Ingresar">
    <p><a href="#">¿Olvidastes tu Contraseña?</a></p>
    <p><a href="/registro">Aún no tengo una cuenta</a></p>

  </section>

</body>

</html>